<a class="card">
    <div class="card-img">
        <img src="/assets/img/3OD-4_90.jpg" alt="Car image" title="Car image">
    </div>
    <div class="card-txt">
        <div class="row">
            <div class="col">
                <span class="card-brand">Brand</span>
                <span class="card-model">Model</span>
            </div>
            <div class="col-auto">
                <div class="favourite">
                    <app-favourite></app-favourite>
                </div>
            </div>
        </div>
        <div class="row">        
            <div class="col">
                <span class="card-price">35.000€</span>
            </div>
            <div class="col-auto">
                <span class="card-registered">Registered</span>
            </div>
        </div>
    </div>
</a>