@import "/src/scss/base";
.card {
    @include boxshadow($default-box-shadow);
    padding: map-get($spacers, 3 );
    border: none;
    border-radius: 1rem;
    margin-bottom: map-get($spacers, 4 );
    &-img {
        text-align: center;
        padding: map-get($spacers, 3 );
    }
    &-txt {
        .row {
            @include align-items(center);
        }
    }
    &-brand,
    &-model,
    &-registered {
        @include medium;
    }
    &-model {
        border-left: 2px solid $secondary;
        margin-left: map-get($spacers, 2 );
        padding-left: map-get($spacers, 2 );
        color: $secondary;
    }
    &-price {
        @include h3;
        color: $black;
    }
    &:hover {
        @include transform(translate(0, -1%));
        @include transition(transform 0.3s);
    }
    ::ng-deep {
        #carnovo-favourite{
            fill: $secondary;
        }
    }
}