<div class="toolbar">
    <div class="container">
        <div class="row">
            <ul class="d-flex">
                <li><a href="#">
                    <app-home></app-home>
                </a></li>
                <li><a href="#">
                    <app-favourite></app-favourite>
                </a></li>
                <li class="icon-add"><a href="#">
                    <app-plus></app-plus>
                </a></li>
                <li><a href="#">
                    <app-cart></app-cart>
                </a></li>
                <li><a href="#">
                    <app-search></app-search>
                </a></li>
            </ul>
        </div>
    </div>
</div>
