<div class="container">
    <div class="row d-flex justify-content-between footer-top">
        <div class="col-4">
            <app-logo></app-logo>
            <p>Banjo unicorn banh mi pok pok PBR&B. Raw denim church-key disrupt vexillologist prism seitan</p>
        </div>
        <div clas="col-auto">
            <div class="d-flex justify-content-end">
                <ul class="col-auto text-left">
                    <li><a href="">Microdosing listicle</a></li>
                    <li><a href="">Artisan venmo</a></li>
                    <li><a href="">Etsy shabby </a></li>
                    <li><a href="">Iceland helvetica</a></li>
                </ul>
                <ul class="col-auto text-right">
                    <li><a href="">Hashtag</a></li>
                    <li><a href="">Vexillologist pork</a></li>
                    <li><a href="">Belly keffiyeh</a></li>
                    <li><a href="">Woke</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="row justify-content-between footer-down">
        <div class="col-auto social">
            <a href="#" target="_blank" title="Facebook"><i class="icon-facebook"></i>Facebook</a>
            <a href="#" target="_blank" title="Twitter"><i class="icon-twitter"></i>Twitter</a>
            <a href="#" target="_blank" title="Instagram"><i class="icon-instagram"></i>Instagram</a>
            <a href="#" target="_blank" title="Youtube"><i class="icon-youtube"></i>Youtube</a>
        </div>
        <div class="col-auto policies">
            <a href="#">Porelly keffiyeh</a>
            <a href="#">Woke iceland</a>
        </div>
    </div>
</div>